<div class="btn-toolbar menu">
    <button class="btn btn-default new-game">
        <span class="glyphicon glyphicon-star"></span> New Game
    </button>
    <button class="btn btn-default validate">
        <span class="glyphicon glyphicon-check"></span> Validate
    </button>
    <button class="btn btn-default cheat">
        <span class="glyphicon glyphicon-eye-<%= hideAll ? 'open' : 'close' %>"></span> Cheat
    </button>
</div>
<div class="game-board">
</div>
<div class="status alert">
</div>
